body {
    margin: 20px;
}

button {
    position:absolute;
    bottom:0;
    right:0;
}

.box {
    position:relative;
}

.col-md-10 {
    margin: 1px;
    padding:3px;
    line-height: .95em;
}

.text-primary {
    margin-top: 5px;
}


